*:focus[b-f8d0wgfx1p] {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-nav .nav-link[b-f8d0wgfx1p] {
    color: white !important;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0.5rem 1.2rem !important;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover[b-f8d0wgfx1p], 
.navbar-nav .nav-link.active[b-f8d0wgfx1p] {
    color: #cc0000 !important; 
}

.navbar-brand[b-f8d0wgfx1p] {
    font-weight: 900;
    letter-spacing: -1px;
}